.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  justify-content: center;
  margin: 20px 0;
}

@media only screen and (max-width: 600px) {
  .products .card {
    margin: 10px auto;
  }
}

@media only screen and (min-width: 1000px) {
.products .card {
    margin-left: 200px;
  }
}    

.products .card {
  margin: 10px auto;
}

.products .card-img-top {
  width: 100%;
  height: 250px;
}

.products .card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.products .card-text {
  height: 70px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}


/* --- ---  product Detail --- */
.detail_page .img-thumbnail.active{
  border-color: orangered;
  padding: 2px;
}